* {
    font-family: "Inter", sans-serif !important;
    font-weight: 500;
    font-size: 16px;
  }
  
  body {
    background: rgb(42, 35, 45);
    color: white;
  }

  .navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
  }

  .navbar-expand-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .top-bar nav {
    display: flex !important;
    width: 100vw !important;
    align-items: center !important;
    background-color: inherit !important;
    justify-content: space-between;
  }
  
  .logo {
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  .logo a {
    display: flex !important;
    width: 50px !important;
    height: 50px !important;
  }
  
  .center {
    justify-self: center;
    background-color: rgb(25, 27, 31);
    width: fit-content;
    padding: 1px;
    border-radius: 16px;
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    overflow: auto;
    -webkit-box-align: center;
    align-items: center;
  }